:root {
  --clr-dark: #3d4047;
  --clr-main-background: #d2d4d9;
  --clr-button-bg: #c71e5f;
  --clr-button-bg-hover: #eb7ca7;
  --clr-button-text: #dcdde8;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  min-height: 100%;
  background-color: var(--clr-main-background);

  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--clr-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

